node_modules
.idea
.vscode
.pytest_cache
unpackage
dist
.DS_Store
*.css.map
*.map
*.map.json
.history

# 区块链数据文件
data/blockchain/*.vlog
data/blockchain/*.mem
data/blockchain/LOCK
data/blockchain/DISCARD
data/wallets/*.dat
