node_modules
.idea
.vscode
.pytest_cache
unpackage
dist
.DS_Store
*.css.map
*.map
*.map.json
.history

# 区块链数据文件
data/blockchain/*.vlog
data/blockchain/*.mem
data/blockchain/LOCK
data/blockchain/DISCARD
data/wallets/*.dat

# API数据文件
cmd/api/data/blockchain/*.vlog
cmd/api/data/blockchain/*.mem
cmd/api/data/blockchain/LOCK
cmd/api/data/blockchain/DISCARD
cmd/api/data/blockchain/MANIFEST
cmd/blockchain/data/blockchain/
cmd/blockchain/data/wallets/
